*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*****************************/

.my_width{
    width: 100%;
}

.my_width_footer_1{
    width: 10%;
    color: #6B7376;
}
.my_width_footer_2{
    width: 80%;
}

.square{
    height: 38px;
    width: 38px;
}

.square img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
}

.active_bg{
    background-color: #E9EBEB;
}

.cursor{
    cursor: pointer;
}

/***********CONTENITORI PRINCIPALI*****************/
.my_1{
    max-height: 92vh;
    background-color: white;
    width: 80%;
}

body{
    background: linear-gradient(to bottom, #019688 0%, #019688 20%, #DBDBD3 20%, #DBDBD3 100%);
    height: 100vh;
}

/*****************************/





.my_5{
    background: url("../img/mine.jpg");
    height: calc(90vh - 81px);
    overflow-y: scroll;
}

.my_font_size{
    font-size: 10px;
}

.my_font_size_2{
    font-size: 13px;
}


.square_icon i{
    color: #8EDAFC;
}

.my_bg_person{
    background-color: #8EDAFC;
}

.received{
    height: 40px;
    width: 47%;
    background-color: white;
    align-self: flex-start;
    padding: 4px;
}

.sent{
    height: 40px;
    width: 47%;
    background-color: #D5F9BA;
    align-self: flex-end;
    padding: 4px;
}

.my_bg_head-foot2{
    background-color: #6B7376;
    color: white;
}

.my_color_text{
    color: black;
}

.hov_bord:hover{
    border: none;
}

@media  screen and (min-width:769px) {
    .my_bg_head-foot{
        background-color: #EAEAEA;
    }

    .my_bg_head-foot2{
        background-color: none;
        color: black;
    }
    
    .my_color_text{
        color: #999;
    }
}